@model CheckOutViewModel

@{
    ViewData["Title"] = "Checkout";    
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Your Order</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">                  
                    <table class="table table-light table-borderless  text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">

                            @foreach (var item in Model.Items)
                            {
                                ProductImages image = item.ProductItem.ProductImages.FirstOrDefault();
                                <tr>
                                    <td class="align-middle"><img src="/img/@image.ImageURL" alt="" style="width: 50px;"> @item.ProductItem.Name</td>
                                    <td class="align-middle">@item.ProductItem.Price</td>
                                    <td class="align-middle">@item.Quantity</td>
                                    <td class="align-middle">@(item.Quantity * item.ProductItem.Price) EGP </td>                                  
                                </tr>
                            }
                        </tbody>
                    </table>                   
                </div>

                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>@Model.TotalPriceAfterDiscount EGP</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">@Model.ShippingPrice EGP</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>@Model.OrderTotalPrice EGP</h5>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Address : @Model.ShippingAddress.Address1</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Country : @Model.ShippingAddress.Country.Name </label>                       
                    </div>                                                   
                    <div class="col-md-6 form-group">
                        <label>City : @Model.ShippingAddress.City </label>                      
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State : @Model.ShippingAddress.State</label>                      
                    </div>                               
                    <div class="col-md-6 form-group align-content-center text-center">
                        <button asp-action="YourAddress" asp-controller="Account" class="btn btn-primary font-weight-bold py-3">Change Address</button>                      
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <form>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                        @foreach (var payment in Model.PaymentMethod)
                        {                           
                                <input type="radio" asp-for="@Model.PaymentMethodId" value="@payment.Id">
                                <label asp-for="@Model.PaymentMethodId">@payment.Name</label>
                                <br/>
                        }
                            </div>
                        </div>
                       
                        <button type="submit" asp-action="PlaceOrder" asp-controller="Order" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </form>
                    <button asp-action="Index" asp-controller="ShoppingBag" class="btn btn-block btn-danger font-weight-bold py-3">Cancel</button>
                </div>
            </div>
        </div>


       
    </div>
</div>
<!-- Checkout End -->
