@model IEnumerable<ECommerceMVC.Models.OrderDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<<!-- Breadcrumb Start -->
<nav class="breadcrumb bg-light mb-30 p-3">
    <a class="breadcrumb-item text-dark" style="text-decoration:none !important; color:inherit;" asp-action="Index">Admin</a>
    <span class="breadcrumb-item active">Orders</span>
</nav>

@*<p>
    <a asp-action="Create" class="btn btn-success my-3">add new order</a>
</p>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOnUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Id)
            </td>
            <td>                
                    <a asp-action="OrderDetails" asp-route-id="@item.Id" class="btn btn-info mx-2">Details</a>
                <a asp-action="DeleteOrder" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this order? \nNote:This order will be deleted from the app but it will still be available in the Database.' )" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
