@model ECommerceMVC.ViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>OrderDetails</h1>

<div>
    <h4>OrderDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPriceBeforeDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPriceBeforeDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPriceAfterDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPriceAfterDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
