@model ProductDetailsViewModel

@{
    SelectList colorList = new SelectList(Model.Color);
    SelectList SizeList = new SelectList(Model.Size);
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <!-- Product Image -->
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="@Model.Image[0]" alt="Product Image">
                    </div>
                    @for (int i = 1; i < Model.Image.Count; i++)
                    {
                        <div class="carousel-item ">
                            <img class="w-100 h-100" src="@Model.Image[i]" alt="Product Image">
                        </div>

                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.Name</h3> <!-- Product Name -->

                <h3 class="text-muted mb-4 float-md-left" style="margin-right:20px">
                    @if (Model.PriceBeforeDiscount != 0)
                    {

                        <del>
                            $@Model.price
                        </del>
                        <h3 class="font-weight-semi-bold mb-4">$@Model.PriceBeforeDiscount</h3>
                    }
                    else
                    {
                        <h3 class="font-weight-semi-bold mb-4">  $@Model.price</h3>

                    }
                </h3>
                <p class="mb-4">
                    @Model.Description <!-- Product Description -->
                </p>
                <div class="d-flex mb-3">
                    <strong class="text-dark mr-3">Sizes:</strong>
                    <select asp-for="SizeId" asp-items="SizeList" class="form-control"></select>

                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Colors:</strong>
                    <select asp-for="ColorId" asp-items="colorList" class="form-control"></select>

                </div>


                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" onclick="Min()">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus" onclick="Plus()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3" asp-action="AddToCard" asp-controller="Product">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function Plus(){
            @Model.ProductCount++;
        }
        function Min() {
            @Model.ProductCount--;
            if(@Model.ProductCount<0)
            {
                @Model.ProductCount=0;
            }
        }

    </script>
    }