@model ProductDetailsViewModel

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<form asp-action ="AddToCard" asp-controller="Product" asp-route-id="@Model.Id">


<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <!-- Product Image -->
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="~/img/@Model.Product.Image" alt="Product Image">
                    </div>
                    @for (int i = 1; i < Model.Image.Count; i++)
                    {
                        <div class="carousel-item ">
                            <img class="w-100 h-100" src="~/img/@Model.Image[i]" alt="Product Image">
                        </div>

                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.Name</h3> <!-- Product Name -->

                <h3 class="text-muted mb-4 float-md-left" style="margin-right:20px">
                    @if (Model.PriceBeforeDiscount != 0)
                    {

                        <del>
                            $@Model.price
                        </del>
                        <h3 class="font-weight-semi-bold mb-4">$@Model.PriceBeforeDiscount</h3>
                    }
                    else
                    {
                        <h3 class="font-weight-semi-bold mb-4">  $@Model.price</h3>

                    }
                </h3>
                <p class="mb-4">
                    @Model.Description <!-- Product Description -->
                </p>
                
                    @{
                    
                        int var = 0;
                    }

                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-info">@ViewBag.Message</div>
                    }
               
                    @foreach (ProductAttribute variation in Model.variationswithoptions)
                    {
                        int y = 0;
                        Model.AttributeValuesIds.Add(y);
                        int i = 0;
                        
                        <div class="d-flex flex-row my-4">

                            <strong class="text-dark mr-3" for="VariationOption">@variation.Name :</strong>@*VariationName*@
                        
                                <div class="custom-control custom-radio d-flex align-items-center">

                                    @foreach (AttributeValues x in variation.AttributeValues)
                                    {
                                        if (i == 0)
                                        {
                                        <input class="ms-3 me-1" type="radio" asp-for="@Model.AttributeValuesIds[var]"  checked value="@x.Id">

                                        }
                                        else
                                        {
                                        <input class="ms-5 me-1" type="radio" asp-for="@Model.AttributeValuesIds[var]" value="@x.Id">
                                        }
                                        <label class="form-check-label">@x.Value</label>
                                        i++;
                                    }
                                
                                </div>                            
                        </div>
                        var++;
                    }
              
                <div class="d-flex flex-row align-items-center mb-4 pt-2">
                        <div class="d-flex flex-row ">
                        <strong class="text-dark mr-3">Quantity:</strong>
                            <input id="count_p" min="1" type="number" value="1" class="form-control bg-secondary border-0 text-center" asp-for="ProductCount">
                    </div>
                </div>
                    <button class="btn btn-primary px-3" type="submit" >
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                 @*   <button class="btn btn-primary px-3" type="submit">
                        <i class="fa fa-buy-n-large mr-1"></i> Buy Now
                    </button>*@
            </div>
        </div>
    </div>
</div>

</form>

