@*


 <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="@Url.Action("MyAccount", "Account")">MyAccount</a>
                    <span class="breadcrumb-item active">Edit your Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Data Start --> 
<div class="container bootstrap snippets bootdey">
    <hr>
    <div class="row">

       <!-- Current Data column -->
       <div class="col-md-6 personal-info">
        <h3>Current Account Information</h3>

        <form class="form-horizontal" role="form">


          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.UserName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.UserName)" readonly>
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Email)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" readonly>
            </div>
          </div>

         <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.FirstName)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.LastName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.LastName)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.DataOfBirth)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.DataOfBirth)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Gender)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Gender)" readonly>
            </div>
          </div>
        </form>
      </div>
       <!-- Current Data column -->
      <!-- Modified Data column -->

 <div class="col-md-6 personal-info">
        <h3>Current Account Information</h3>

        <form class="form-horizontal" role="form">


          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.UserName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.UserName)" >
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Email)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Email)" >
            </div>
          </div>

         <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.FirstName)" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.LastName)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.LastName)" >
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@Html.DisplayFor(model => model.PhoneNumber)" >
            </div>
          </div>

          

          <div class="form-group">
          <label asp-for="DataOfBirth" class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.DataOfBirth)</label>
          <div class="col-lg-8">
          <input asp-for="DataOfBirth" class="form-control"/>
          </div>
          <span asp-validation-for="DataOfBirth" class="text-danger"></span>                       
          </div>


          <div class="form-group">
                <label asp-for="Gender" class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                <select class="form-control" asp-for="Gender" asp-items="ViewBag.Genders">
                    <!--List<Gender>-->
                </select>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
          </div>



          <div class="form-group">
            <label class="col-lg-3 control-label">Current Password</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">New Password</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Confirm New Password</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" >
            </div>
          </div>



        </form>
      </div>



       <!-- Modified Data  column -->
       
       <!-- Data End --> 
  </div>
<hr>
</div>



                <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.js"></script>            
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

*@