




<div class="container bootstrap snippets bootdey">

    <h1 class="text-primary text-center" >Edit Profile</h1>
      <hr>
    <div class="row">


      <!-- left column -->
       <div class="col-md-6 personal-info">
        <h3>Current Account Information</h3>

        <form class="form-horizontal" role="form">


          <div class="form-group">
            <label class="col-lg-3 control-label">UserName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@User.Identity.Name" readonly>
            </div>
          </div>


         <div class="form-group">
            <label class="col-lg-3 control-label">FirstName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">LastName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">UserName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@User.Identity.Name" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">UserName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@User.Identity.Name" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">UserName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@User.Identity.Name" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">UserName</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@User.Identity.Name" readonly>
            </div>
          </div>
        </form>
      </div>

      <!-- edit form column -->
      <div class="col-md-6 personal-info">
        <h3>Updated Account information</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
                 <input class="form-control" type="text" value="dey-dey" >
            </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="bootdey">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
 


  </div>
<hr>
</div>