@model List<ProductIndexViewModel>

@{
    ViewData["Title"] = "ProductIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Breadcrumb Start -->
<nav class="breadcrumb bg-light mb-30 p-3">
    <a class="breadcrumb-item text-dark" style="text-decoration:none !important; color:inherit;" asp-action="Index">Admin</a>
    <span class="breadcrumb-item active">Products</span>
</nav>
<!-- Breadcrumb End -->

<a asp-action="AddProduct" asp-controller="Admin" class="btn btn-success" >Add Product</a>
<br/>
<br />

<table id="table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="400px">Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Created Time</th>
            <th>Image</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Brand</td>
                <td>@item.Price</td>
                <td>@item.CreatedAtUtc</td>
                <td> <img src="~/img/@item.Image" style="width:50px;height:80px;" /></td>
                <td>
                    <a asp-controller="Admin" asp-action="ProductDetails" asp-route-id="@item.Id" class="btn btn-info">Detail</a>
                    <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this Product? \nNote:This Product will be deleted from the app but it will still be available in the Database for recovery.' )" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
