@model IEnumerable<ECommerceMVC.Models.Customer>

@{
    ViewData["Title"] = "UsersPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Breadcrumb Start -->
<nav class="breadcrumb bg-light mb-30 p-3">
    <a class="breadcrumb-item text-dark" style="text-decoration:none !important; color:inherit;" asp-action="Index">Admin</a>
    <span class="breadcrumb-item active">Users</span>
</nav>
<!-- Breadcrumb End -->
<p>
    <a class="btn btn-success my-3" asp-action="AddUser">Add New User</a>
</p>
<table id="table" class="table table-striped" style="width:100%">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOnUtc)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>   
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>                   
            <td>
                    <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-warning mx-2">Edit</a>
                    <a asp-action="UserDetails" asp-route-id="@item.Id" class="btn btn-info mx-2">Details</a>
                    <a asp-action="DeleteUser" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this user? \nNote:This user will be deleted from the app but it will still be available in the Database. So to full remove a user you need to remove it also from database and also Recovery is only available from database. ' )" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
