@model IEnumerable<ECommerceMVC.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<nav class="breadcrumb bg-light mb-30 p-3">
    <a class="breadcrumb-item text-dark" style="text-decoration:none !important; color:inherit;" asp-action="Index" asp-controller="Admin">Admin</a>
    <span class="breadcrumb-item active">Countries</span>
</nav>

<p>
    <a class="btn btn-btn  btn-success my-3" asp-action="AddCountry">Add New Country</a>
</p>
<table id="table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
 
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                    <a asp-action="EditCountry" asp-route-id="@item.Id" class="btn btn-warning mx-2">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
