@model IEnumerable<ECommerceMVC.Models.Brand>
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>

    <a class="btn btn-btn btn-primary my-3" asp-action="AddBrand">Add New Brand</a>
</p>
<table id="table" class="table table-striped" style="width:100%">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
       
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="EditBrand" asp-route-id="@item.Id" class="btn btn-warning mx-2">Edit</a>
                    <a asp-action="BrandDetails" asp-route-id="@item.Id" class="btn btn-info mx-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
